button.collapsible Embedding PDFs
.content
	p. 
		Recently, I uploaded a copy of my #[a(href="http://vladov3000.com/about") resume] to the About section of the website. It turned out the process was a bit more tricky than I originally thought. To save you time spent searching on Stack Overflow for how to do this yourself, here is my guide to embedding pdfs. The full code is only one line! <br /> #[code() iframe(src='http://docs.google.com/gview?url=INSERTPDFURLHERE&embedded=true', style='width:600px; height:500px;', frameborder='0')]<br />  The element we will be using to display the pdf is an #[a(href="https://www.w3schools.com/tags/tag_iframe.asp") iframe]. Essentially, it displays a webpage on your webpage. The webpage we embbed is google's online pdf viewer: http://docs.google.com/gview?url=INSERTPDFURLHERE&embedded=true.
