ol
	h1 15 Things to Review Before a Programming Competition
	p Seattle is a popular place for programming competitions, and it's easy to forget important concepts. Here are some things to review before you participate in one. Note: These are python-specific tips.

	h2 1. Opening A File </br>
	p1 Even though this is pretty basic, it's good to remember how to open files in case you run into technical difficulties at the competition. I open files using:
	</br>#[code() f=open('filename.dat')</br>file=f.readlines()]

	h2 2. Stripping Strings </br>
	p1 The strings you get from the file usually have junk at the end, such as \n. This can really mess up your program. To get rid of this, use the .strip() method (it will strip particular characters if you give it arguements). Strip() will also get rid of spaces, but .rstrip() and .lstrip() don't.
	</br>#[code() s='ai don't like newlines or a/b\n'</br>s=s.strip()</br>#s is now 'ai don't like newlines or a/b'</br>s.strip('ab')</br>#s is now 'i don't like newlines or a/']

	h2 3. Objects Are Passed By Reference </br>
	p1 This means when you make a variable equal to an object, such as a list, it will just be a pointer to the object. Here's an application:
	p.
		<pre><code>
		def foo(a):
		  a = 1
		</code></pre>
		<pre><samp>
		2
		3
		</samp></pre>

	</br>#[code() func(b):</br>|.   b[0]=1</br></br>a=[5]</br>func(a)</br>a is now [1]]
