button.collapsible ENGL 320
.content
	p.
		This is a small web application that generates practice tests for ENGL 320 taught by Paul Remley. The first version was developed and deployed during Winter Quarter 2020, so there may be changes to the test structure between when it was first made and now. Luckily, the code for this app is highly reproducible for your own purposes.
	p.  
		Link to Test Generator: #[a(href="http://vladov3000.com:8080/") vladov3000.com]
	p.
		Link to Code:  #[a(href="https://github.com/vladov3000/engl320-tests") github]