extend default

block content
	p.
		You can view and download my resume below:
	iframe(src='http://docs.google.com/gview?url=https://github.com/vladov3000/web3/raw/master/resume.pdf&embedded=true', style='width:600px; height:500px;', frameborder='0')

