extend default

block content

    p Welcome to Vladimir Ovechkin's website! Check out how to #[a(href="http://vladov3000.com/web") build] a website like this or learn tips for #[a(href="http://vladov3000.com/competitions") programming competitions]. 
